{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "space-before-function-paren": 0,
    "react/no-did-update-set-state": 0
  }
}
